@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .section-our-team {
    background-color: var(--not-white-color);
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .our-team-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-right: 0;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .customers {
    padding-bottom: 120px;
    padding-top: 130px;
  }
  .customer-list-section {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .title-our-services {
    color: var(--accent-text-color);
    font-size: 36px;
    line-height: 1.11;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 72px;
  }
  .our-services-container {
    padding-top: 0;
    display: block;
  }
  .list-ourservices {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-right: 0;
    justify-content: center;
  }
  .div-advantages {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advantages-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-right: 0;
    justify-content: center;
  }
  .title-our-advantages {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .text-our-advantages {
    color: var(--color-of-paraghraphs);
    font-size: 16px;
    line-height: 1.5;
    width: 264px;
    height: 72px;
  }
  .padding-for-section-index {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .our-services-container {
    padding-top: 0;
  }
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero.jpg);
    background-size: cover;
    background-color: rgba(46, 47, 66, 0.7);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    color: var(--title-hero-button);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  .footer-div-two-section {
    display: flex;
    justify-content: space-between;
  }
}
