@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .section-our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-team-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }
  .customers {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .customer-list-section {
    display: flex;
    gap: 72px 16px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
