@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .section-our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-team-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }
  .customers {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .customer-list-section {
    display: flex;
    gap: 72px 16px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .our-services-container {
    display: none;
  }
  .div-advantages {
    display: none;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding-left: 0;
    margin-right: 0;
    justify-content: center;
  }
  .title-our-advantages {
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
  }
  .text-our-advantages {
    color: var(--color-of-paraghraphs);
    font-size: 16px;
    line-height: 1.5;
    width: 396px;
    height: 48px;
  }
  .padding-for-section-index {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile.jpg);
  }
  .title-hero {
    font-size: 36px;
    line-height: calc(40 / 36);
    max-width: 320px;
    margin-bottom: 72px;
  }
  .footer-div-two-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-media-div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .subscribe-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .footer-form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-input-footer {
    width: 398px;
  }
  .subscribe-title {
    display: flex;
    justify-content: center;
  }
  .header-list {
    display: none;
  }
  .header-adress {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-right: 0;
  }
  .mobile-menu-open {
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .header-mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 80px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .header-menu-close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #2e2f42;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  .mobile-menu-container {
    position: relative;
  }
  .list-header-menu {
  }
  .li-nav-modal-menu {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: #2e2f42;
    display: block;
    margin-bottom: 40px;
  }
  .li-nav-modal-menu:focus {
    color: #404bbf;
  }
  .mobile-menu-adress {
    text-decoration: none;
  }
  .tel-mobile-menu {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: #4d5ae5;
  }
  .email-mobile-menu {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #434455;
  }
  .header-mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    width: 95%;
    height: 95%;
  }
}
