@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .section-our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-team-list {
    width: 100%;
    flex-wrap: wrap;
  }
  .images-our-team:not(:last-child) {
    margin-bottom: 72px;
  }
}
